    body {
      margin: 0;
      background: #0b0b0b;
      color: #00ff88;
      font-family: "Fira Code", monospace;
      font-size: 14px;
    }

    h2 {
      margin: 10px;
      color: white;
    }

    #wrap {
      display: flex;
      height: 100vh;
    }

    /* LEFT: NODE GRID */
    #grid {
		display: flex;
  		flex-wrap: wrap;
  		gap: 10px;
  		width: 100%;
  		padding: 10px;
  		align-content: flex-start;
    }

    .card {
	order:4;
	flex-grow:3;
      border: 1px solid #222;
      border-bottom: 1px solid #00ff88;
      margin-bottom: 10px;
      padding: 6px;
      background: #111;
	  transition: 0.2s;
	  min-width: 20vw;
	  max-width:620px;
    }
	.card:hover {
  	  transform: translateY(-2px);
  	  border-bottom-color: #ffffff;
	}

    .name {
      color: white;
      font-weight: bold;
    }

    .id {
      color: #00ccff;
      font-size: 11px;
    }

    .meta {
      color: #eee;
      font-size: 12px;
    }
   .meta2 {
      font-size:11px;
      color:#eee;
   }

    /* RIGHT: GRAPH */
    #graph {
      flex: 1;
      position: relative;
      overflow: hidden;
    }

    canvas {
      width: 100%;
      height: 100%;
    }


#dbg {
	min-width:250px;
	min-height:100px;
	border:1px solid #F29C0D;
	border-radius:2px;
	background-color: #0B0B0B;
	color:#efefef;
	position:fixed;
	top:8px;
	left:8px;
}
.bc{
   display:flex;
   justify-content:space-between;
}
